---
import type { Page } from "astro";
import type { InferEntrySchema } from "astro:content";

import { getLocalHref, removeLocaleFromPath } from "@/lib/routing";
import Header from "@/components/header.astro";
import Newsletter from "@/components/newsletter/newsletter.astro";
import ScrollTopButton from "@/components/scroll-top-button.astro";
import Section from "@/components/section.astro";

import ArticleListItem from "./components/article-list-item.astro";
import Pagination from "./components/pagination.astro";

type Props = Page<{
  id: string;
  data: InferEntrySchema<"blog">;
}>;

const page = Astro.props;
const posts = page.data;
---

<Header back={{ href: getLocalHref("/") }} />
<Section _title="blog" class="flex flex-col items-center justify-center pb-32">
  <div class="flex h-32 w-full justify-center">
    <h1 class="font-mono text-sm text-zinc-100">Blog</h1>
  </div>
  <div class="w-full">
    <ul class="space-y-24">
      {
        posts.map(({ id, data }) => (
          <li>
            <ArticleListItem
              {...data}
              href={getLocalHref(`/blog/${removeLocaleFromPath(id)}`)}
            />
          </li>
        ))
      }
    </ul>
    <div class="pt-16">
      <Pagination page={page} />
    </div>
  </div>
</Section>
<Section _title="newsletter" class="pb-32">
  <Newsletter />
</Section>
<ScrollTopButton />
