---
import { getCollection } from "astro:content";

import { getLocalHref, removeLocaleFromPath } from "@/lib/routing";
import Header from "@/components/header.astro";
import Newsletter from "@/components/newsletter/newsletter.astro";
import Section from "@/components/section.astro";
import { $lang } from "@/i18n/translation";

import ArticleListItem from "./components/article-list-item.astro";

const posts = (await getCollection("blog"))
  .filter(({ id }) => id.startsWith(`${$lang.value}/`))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Header back={{ href: getLocalHref("/") }} />
<Section _title="blog" class="flex flex-col items-center justify-center pb-32">
  <div class="flex h-32 w-full justify-center">
    <h1 class="font-mono text-sm text-zinc-100">Blog</h1>
  </div>
  <div class="w-full">
    <ul class="space-y-24">
      {
        posts.map(({ id, data }) => (
          <li>
            <ArticleListItem
              {...data}
              href={getLocalHref(`/blog/${removeLocaleFromPath(id)}`)}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Section>
<Section _title="newsletter" class="pb-32">
  <Newsletter />
</Section>
