---
import { getTranslation } from "@/i18n/translation";

import Noise from "../layout/noise.astro";
import NewsletterForm from "./newsletter-form.astro";

const t = getTranslation("blog");
---

<div class="relative">
  <div
    class:list={[
      "shimmer relative z-0 flex w-full items-center justify-between rounded-xl bg-transparent text-center text-balance",
      "flex-col gap-4 px-4 py-4",
      "md:h-28 md:flex-row md:gap-12 md:px-8",
    ]}
  >
    <p class="w-full text-left text-balance md:max-w-xl">
      {t.newsletter()}
    </p>
    <NewsletterForm />
  </div>
  <div class="pointer-events-none absolute inset-0 z-10">
    <Noise opacity="0.1" />
  </div>
</div>

<style>
  .shimmer {
    --border-width: 1px;
    border: var(--border-width) solid transparent;
  }

  .shimmer::before {
    content: " ";
    position: absolute;
    inset: calc(var(--border-width) * -1);
    z-index: -1;
    border: inherit;
    border-radius: inherit;
    background-image: conic-gradient(
      from var(--angle),
      var(--color-zinc-800) 80%,
      var(--color-zinc-700) 88%,
      var(--color-zinc-700) 92%,
      var(--color-zinc-800) 100%
    );
    background-origin: border-box;
    -webkit-mask:
      linear-gradient(black, black) content-box,
      linear-gradient(black, black);
    mask: linear-gradient(black, black), linear-gradient(black, black);
    -webkit-mask-clip: content-box, border-box;
    mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: spin 5s linear infinite;
  }

  @supports not (background: paint(something)) {
    .shimmer::before {
      background-image: conic-gradient(
        var(--color-zinc-800) 80%,
        var(--color-zinc-700) 88%,
        var(--color-zinc-700) 92%,
        var(--color-zinc-800) 100%
      );
    }
  }

  @property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

  @keyframes spin {
    to {
      --angle: 1turn;
    }
  }
</style>
