@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::selection {
    color: var(--zinc-50);
    background-color: var(--zinc-950);
  }
}

@layer components {
  .styled-underline {
    position: relative;
  }

  .styled-underline:after {
    display: block;
    height: 1.5px;
    border-radius: 2px;
    background: var(--zinc-300);
    position: absolute;
    bottom: 0;
    left: 0;
    color: transparent;
    transition: background 0.3s ease;
  }

  a:hover .styled-underline:after {
    background: var(--zinc-100);
  }

  a.styled-underline:hover:after {
    background: var(--zinc-100);
  }
}
