<div
  aria-hidden="true"
  class="vertical-fade pointer-events-none fixed bottom-0 left-0 z-30 h-24 w-full will-change-transform select-none"
>
</div>
<style>
  .vertical-fade {
    background: linear-gradient(to bottom, transparent, #161616);
    mask-image: linear-gradient(to top, #161616 25%, transparent);
  }
</style>
