---
interface Props {
  href: string;
  onclick: string;
}

const { href, onclick } = Astro.props;
---

<button class="bg-red-200 px-2 py-1 rounded text-red-500" onclick={onclick}>
  <slot />
</button>
