---
interface Props {
  title: string;
  description: string;
  href: string;
  openInNewTab?: boolean;
  class: string;
  wrapperClass?: string;
}

const {
  title,
  description,
  href,
  openInNewTab = true,
  class: className,
  wrapperClass = "",
}: Props = Astro.props;
---

<div>
  <a
    href={href}
    target={openInNewTab ? "_blank" : "_self"}
    class:list={[
      "group block",
      "rounded-sm ring-zinc-200 ring-offset-zinc-950 outline-none focus-visible:text-zinc-200 focus-visible:ring-1 focus-visible:ring-offset-4",
      wrapperClass,
    ]}
  >
    <h3
      class:list={[
        "styled-underline mb-2 text-zinc-300 transition-colors duration-300 group-hover:text-zinc-100",
        className,
      ]}
    >
      {title}
    </h3>
    <p>{description}</p>
  </a>
</div>
