---
import { Image } from "astro:assets";

import { getResponsiveImageProps } from "@/lib/utils";
import Section from "@/components/section.astro";
import michael from "@/assets/michael.jpg";
import { getTranslation } from "@/i18n/translation";

const t = getTranslation("home");
---

<Section _title="hero">
  <header class="space-y-8">
    <Image
      src={michael}
      alt="Michael"
      class="size-24 rounded-full inset-shadow-sm"
      style={{
        backgroundColor: "hsla(50,9%,87%,1)",
        backgroundImage: `
          radial-gradient(at 1% 28%, #ECDBBE 0px, transparent 70%),
          radial-gradient(at 95% 31%, hsla(50,9%,87%,1) 0px, transparent 70%),
          radial-gradient(at 54% 70%, hsla(195,33%,58%,1) 0px, transparent 100%);
      `,
      }}
      {...getResponsiveImageProps(michael)}
    />
    <h1 class="text-lg text-zinc-100">Michael Heckmann</h1>
    <div class="space-y-4">
      <p set:html={t.description()} />
      <p
        set:html={t.work(
          {
            href: "https://www.personio.com",
            openInTab: true,
            text: "Personio",
            class: [
              "[--underline-color:var(--color-zinc-500)]",
              "styled-underline hover:text-zinc-100 transition-colors duration-300",
              "after:content-['Personio'] after:-bottom-px after:bg-zinc-600",
              "outline-none focus-visible:ring-1 ring-zinc-200 rounded-sm focus-visible:ring-offset-4 ring-offset-zinc-950 focus-visible:text-zinc-200",
            ],
          },
          {
            href: "https://www.celonis.com",
            openInTab: true,
            text: "Celonis",
            class: [
              "[--underline-color:var(--color-zinc-500)]",
              "styled-underline hover:text-zinc-100 transition-colors duration-300",
              "after:content-['Celonis'] after:-bottom-px after:bg-zinc-600",
              "outline-none focus-visible:ring-1 ring-zinc-200 rounded-sm focus-visible:ring-offset-4 ring-offset-zinc-950 focus-visible:text-zinc-200",
            ],
          },
        )}
      />
    </div>
  </header>
</Section>
