---
import Header from "@/components/header.astro";

import Grid from "./grid.astro";
import Hero from "./hero.astro";
---

<Header hideLogo />
<div class="space-y-16 py-32">
  <Hero />
  <Grid />
</div>
